.root {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-sizing: border-box;

  &__img {
    width: 100%;
    height: 200px;
  }
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__details {
    margin-top: 40px;
    text-align: left;

    &_title {
      width: 100%;
      height: 28px;
      overflow: hidden;
    }

    &_likeBtn {
      background-color: #3498db;
      color: #fff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

    &_city {
    }

    &_price {
    }
  }
}
